<body class="popup-window" style="margin: 0px; overflow: hidden;">
<div class="request" style="margin-bottom: 10px;"></div>
<div id="tab2">
    <div class="two-column-data trade-view">
        <div class="hidden-print trade-warning"><span class="registration_attention">Внимание!</span> <span>Для участия в торгах Вам необходимо <a
                href="/users/register.html" shape="rect">зарегистрироваться</a> или войти в систему</span></div>
        <div class="trade-modifications">
            <div class="alert alert-warning"> Внесены изменения от 15.05.2018 13:12: Изменен куратор
                <script type="text/javascript" xml:space="preserve">
	if (typeof dojo !== 'undefined') {
        if (dojo.isFF)
            dojo.addOnLoad(function () {
                dojo.require("dijit.Dialog");
            })
        else
            dojo.require("dijit.Dialog");
    }
</script>
            </div>
            <div class="alert alert-warning"> Внесены изменения от 16.05.2018 12:36: ДОБАВЛЕН ПЕРЕЧЕНЬ ОСНОВНЫХ
                МАТЕРИАЛОВ
                <script type="text/javascript" xml:space="preserve">
	if (typeof dojo !== 'undefined') {
        if (dojo.isFF)
            dojo.addOnLoad(function () {
                dojo.require("dijit.Dialog");
            })
        else
            dojo.require("dijit.Dialog");
    }
</script>
            </div>
            <div class="alert alert-warning"> Внесены изменения от 17.05.2018 15:09: Внесение изменений в специализацию
                закупки
                <script type="text/javascript" xml:space="preserve">
	if (typeof dojo !== 'undefined') {
        if (dojo.isFF)
            dojo.addOnLoad(function () {
                dojo.require("dijit.Dialog");
            })
        else
            dojo.require("dijit.Dialog");
    }
</script>
            </div>
        </div>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Организатор торгов</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Наименование</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> АО "А101 ДЕВЕЛОПМЕНТ"</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Юридический адрес (место нахождения)</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> 142703, Московская обл, Ленинский р-н, г Видное, ул
                                    Донбасская, д 2 к 1, оф 216
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Почтовый адрес</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> 142703, Московская обл, Ленинский р-н, г Видное, ул
                                    Донбасская, д 2 к 1, оф 216
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Контактная информация</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Адрес электронной почты</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Cherneckaya_e@a101.ru</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Контактное лицо</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Чернецкая Елена Владимировна</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Должность</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Менеджер по закупкам работ и услуг</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Номер контактного телефона</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> +7(495)221-40-16. доб. 1386</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Информация о процедуре торгов</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Форма проведения торгов</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Тендер на оказание работ, услуг</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Плановая закупка</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Да</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Начало приема предложений</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> 15.05.2018 13:15</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Окончание подтверждения участия</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> 25.05.2018 15:00</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Окончание приема предложений</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru">
                                    <div style="font-weight: bold;">Этап №1 - 28.05.2018 15:00</div>
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="lot-172917658">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Информация о предмете торгов</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Предмет торгов</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Строительство кабельной линии 20 кВ электроснабжения
                                    ППТ1-4 (участок 5880)
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Описание предмета договора</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Выбор подрядной организации для заключения договора на
                                    строительство кабельной линии 20 кВ электроснабжения ППТ1-4 (участок 5880)
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Дата потребности в закупке</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> согласно ТЗ</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="uncollapsable">
                <td width="35%" rowspan="1" colspan="1"> Статус торгов</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"><font color="red"> идёт приём заявок </font></div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="purchase-items-toggler-row" onclick="togglePurchaseItems('172917658');">
                <th colspan="2" rowspan="1"><span class="purchase-items-toggler"><span class="fa fa-chevron-up"></span> Скрыть позиции лота</span>
                </th>
            </tr>
            <tr id="purchase-items-172917658" class="purchase-items-table" style="">
                <!--?xml version="1.0" encoding="Windows-1251"?-->
                <td colspan="2">
                    <table class="inner-field-table">
                        <tbody>
                        <tr>
                            <th width="100px">№ раздела</th>
                            <th>Наименование раздела / вида работ</th>
                            <th width="250px">Характеристика</th>
                            <th width="100px">Количество</th>
                            <th width="100px">Ед. изм.</th>
                            <th width="250px">Комментарий</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Разработка грунта вручную</td>
                            <td></td>
                            <td>787,6</td>
                            <td>м3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Устройство песчаного основания</td>
                            <td></td>
                            <td>57,8</td>
                            <td>м3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Засыпка траншей и котлованов вручную грунтом</td>
                            <td></td>
                            <td>614,2</td>
                            <td>м3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Засыпка траншей и котлованов вручную песком</td>
                            <td></td>
                            <td>115,6</td>
                            <td>м3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Прокладка кабеля в траншее</td>
                            <td></td>
                            <td>8&nbsp;702</td>
                            <td>м</td>
                            <td>АПвПуг-20 1х500/70</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Прокладка кабеля в трубах</td>
                            <td></td>
                            <td>370</td>
                            <td>м</td>
                            <td>АПвПуг-20 1х500/70</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Монтаж соеденительной муфты</td>
                            <td></td>
                            <td>60</td>
                            <td>шт</td>
                            <td>термоусаживаемая POLJ42/1х500, Raychem</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Монтаж муфты концевой</td>
                            <td></td>
                            <td>4</td>
                            <td>шт</td>
                            <td>POLT-24F/1хI-L20A</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Монтаж уплотнителей кабельных проходов</td>
                            <td></td>
                            <td>40</td>
                            <td>шт</td>
                            <td>УКПт-225/60</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Прокладка труб ПНД</td>
                            <td></td>
                            <td>1&nbsp;204</td>
                            <td>пог.м</td>
                            <td>ПЭ 80 225с( 20.5) SDR11</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Монтаж заглушки</td>
                            <td></td>
                            <td>120</td>
                            <td>шт</td>
                            <td>d225 мм</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Кладка из кирпича</td>
                            <td></td>
                            <td>14&nbsp;580</td>
                            <td>шт</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Устройство бетонной подготовки</td>
                            <td></td>
                            <td>32,48</td>
                            <td>м3</td>
                            <td>Бетонная заливка для труб</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Пусконаладочные работы</td>
                            <td></td>
                            <td>1</td>
                            <td>комплекс</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
            <tbody>
            <script type="text/javascript" xml:space="preserve">
		function confirmParticipation(lotId) {
            $.post("/participation-confirmations?lot=" + lotId).then(function () {
                window.location.reload();
            });
        }
	</script>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Классификаторы</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Номенклатура товаров (работ, услуг)</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> 1.22.1. Наружные сети электроснабжения (кабель
                                    высоковольтный)<br clear="none"> 1.22.4. Технологическое присоединение к сетям
                                    энергоснабжения<br clear="none"></div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Информация о порядке участия в торгах</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Требования к участникам торгов</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Участник должен быть зарегистрирован на площадке и иметь
                                    опыт реализации проектов-аналогов, а так же иметь достаточную
                                    материально-техническую базу для выполнения работ, являющихся предметом тендера.
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Перечень представляемых участниками торгов документов и
                    требования к их оформлению
                </td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> . Конкурсное предложение (с печатью организации,
                                    подписанное уполномоченным лицом) 2. Справка стоимости основных материалов (в
                                    формате excel и с печатью организации, подписанная уполномоченным лицом) 3. График
                                    производства работ (с печатью организации, подписанный уполномоченным лицом)
                                    4.Ведомость по позициям лота заполняется на данной электронной торговой площадке
                                    (ЭТП) - предусмотрена возможность автоматического заполнения значений из Excel на
                                    ЭТП. для этого используйте импорт/экспорт из Excel
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Дополнительные сведения в составе предложения участника</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <table width="100%" class="inner-field-table">
                        <tbody>
                        <tr>
                            <th rowspan="1" colspan="1">Наименование</th>
                            <th width="150px" rowspan="1" colspan="1">Обязательно для заполнения</th>
                            <th width="150px" rowspan="1" colspan="1">Тип</th>
                            <th width="80px" rowspan="1" colspan="1">Ед. изм.</th>
                            <th rowspan="1" colspan="1">Допустимые значения</th>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="1">Готовность предоставить личное поручительство собственника в
                                качестве обеспечения аванса
                            </td>
                            <td rowspan="1" colspan="1">Да</td>
                            <td rowspan="1" colspan="1">Выбор</td>
                            <td rowspan="1" colspan="1"></td>
                            <td rowspan="1" colspan="1"> ДА, НЕТ</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Информация об условиях договора</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Регион поставки товаров, выполнения работ, оказания услуг</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Московская обл.<br clear="none"> г. Москва<br
                                        clear="none"></div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Место (адрес) поставки товаров, выполнения работ, оказания
                    услуг
                </td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> г.Москва</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Сроки поставки товаров, выполнения работ, оказания услуг</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> согласно графика</div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" class="data" style="margin-bottom: 10px; " id="">
            <thead>
            <tr>
                <th colspan="2" rowspan="1"> Примечания</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td width="35%" rowspan="1" colspan="1"> Примечания</td>
                <td width="65%" style="" colspan="1" rowspan="1">
                    <div class="translate-wrap">
                        <div class="translate-texts">
                            <div class="translate-src">
                                <div class="translate-text-ru"> Обязательным условием авансирования является
                                    предоставление банковской гарантии, либо личного поручительства собственника
                                </div>
                            </div>
                            <div class="translate-value"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <script type="text/javascript" xml:space="preserve">
	if (typeof dojo !== 'undefined') {
        if (dojo.isFF)
            dojo.addOnLoad(function () {
                dojo.require("dijit.Dialog");
            })
        else
            dojo.require("dijit.Dialog");
    }
</script>
    </div>
</div>
</body>